<template>
  <v-app>
    <v-app-bar
    color="primary"
      app
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="@/assets/logo_shippop.png"
          transition="scale-transition"
          width="150"
        />

      </div>

      <v-spacer></v-spacer>

<v-layout justify-end>
      <v-btn
        target="_blank"
        text
        color="#818284"
      >
        <v-icon>mdi-truck</v-icon>
   ติดตามพัศดุ
      </v-btn>
        <v-btn
        color="#0b9dd1"
        dark
        >
      <v-icon>mdi-key</v-icon>
      Login
    </v-btn>
      <v-btn style="margin-left: 10px;"
      depressed color="#EBEBEB">
          TH
    </v-btn>
</v-layout>

        <template v-slot:extension>
          <v-tabs
            v-model="tab"
            align-with-title
          >
            <v-tabs-slider color="#0b9dd1"></v-tabs-slider>
            <v-tab
              v-for="item in itemsTab"
              :key="item"
            >
            <v-flex class="textFront--text">
              {{ item }}
            </v-flex>
            </v-tab>
          </v-tabs>

          <v-flex style="margin-top: 25px;">
            <v-text-field
            label="กรอกหมายเลขพัศดุ"
          solo-inverted
          ></v-text-field>
          </v-flex>
        </template>

    </v-app-bar>

    <v-main>
    <v-carousel>
    <v-carousel-item
      v-for="(item,i) in itemsImg"
      :key="i"
      :src="item.src"
      reverse-transition="fade-transition"
      transition="fade-transition"
      style="margin-left: auto; margin-right: auto; width: 80%; height: auto;"
    ></v-carousel-item>

  </v-carousel>
      <HelloWorld/>
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import imgs1 from './assets/slide1m.png';
import imgs2 from './assets/slide2m.png';
import imgs3 from './assets/slide3m.png';

export default {
  name: 'App',

  components: {
    HelloWorld,
  },

  data: () => ({
    tab: null,
    itemsTab: ['หน้าแรก', 'บริการของเรา', 'คำถามที่พบบ่อย', 'เครื่องมือ', 'ติดต่อเรา'],
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    itemsImg: [
      { src: imgs1 },
      { src: imgs2 },
      { src: imgs3 },
    ],
  }),
};
</script>
